<div class="header">
    <div class="container">
        <div class="logo">
            <a href="/"><span>Ma</span>ssape</a>
        </div>
        <div class="header-right">
            <a class="account" href="{{url "Accounts.Login"}}">My Account</a>

        </div>
    </div>
    <div class="banner text-center">
        <div class="container">
            <h1>Sell or Advertise   <span class="segment-heading">    anything online </span> with Resale</h1>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
            <a href="{{url "Listing.create"}}">Post Free Ad</a>
        </div>
    </div>
</div>